body{
    background: url('FondAdmin.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }

  .t1{
    margin-left: 30px;
    margin-right: 30px;
  }

  tr,th{
    border-style:groove;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  background-color: red;
  color: red;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  body {
    background: url('FondAdmin.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    
    }

  .container {
    width: 750px;
    max-width: 100%;
    height: 800px;
    margin-top:80px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow-x: scroll;
  }

  h2 {
    font-size: 50px;
  }

  form {
    width: 100%;
    max-width: none;
  }

  label {
    font-size: 50px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  background-color: red;
  color: red;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.t1{
  margin-left: 30px;
  margin-right: 30px;
}

tr,th{
  border-style:groove;
  font-size: 30px;
}

caption {
  font-size: 40px;
}

}