body {
  background: url('Fond2.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 750px;
  max-width: 100%;
  height: 925px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 24px;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

label {
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  margin: 10px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1024px) {
  body {
    background: url('Fond2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    }

  .container {
    width: 750px;
    max-width: 100%;
    height: 1650px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }

  form {
    width: 100%;
    max-width: none;
    margin-left: 50px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="file"] {
    width: 82%;
    padding: 10px;
    margin-bottom: 72px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 250px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  label {
    font-size: 25px;
  }
}